.car-line {
  border-bottom: 2px white dotted;
}

.car-SVG {
  display: block;
  margin-left: 5%;
}

.flag-SVG {
  margin-right: 10%;
}

.car-buttons {
  margin: 5px 5px;
}

.track-line {
  display: flex;
  justify-content: space-between;
}