@import '../../styles/variables';

.race-buttons {
  background-color: $engine-button-background;
  border: 1px solid $color-border;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 5px;
  height: 3.5rem;
  border-radius: 8px;
  font-weight: bold;
  margin: 5px;
  &_race {
    border: 1px solid $color-button-text_hover;
    color: $color-button-text_hover;
  }
  &_reset {
    border: 1px solid $color-button-text;
    color: $color-button_text;
  }
  &:hover {
    color: $color-button_hover;
  }
  &:disabled {
    color: $color-block-background;
    background-color: $color-button-text_disabled;
    cursor: initial;
  }
}